<!-- <div id="container"> -->
  <canvas id="myCanvas" width="600" height="600">
    <p>Sorry but the browser you are using does not support the &#60;canvas&#62; element.
      You can use a browser like <a href="https://www.google.com/chrome/">Chrome</a> to support canvas</p>
    </canvas>
<!-- </div> -->
