<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/modals.css">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/fractal.css"> -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <title>Algo Art</title>
