<!-- Adjustment > Brightness -->
<div class="modal" id="brightnessAdjust">
  <div class="modal-container">
    <form name="brightnessForm" id="brightnessForm">
      <label for="brightnessInput">
        Brightness: <input type="range" min="-150" value="10" max="150" step="1" name="brightnessInput" id="brightnessInput"/>
      </label>
      <label for="brightnessValue">
        <input type="number" size="3" width="3" value="0" name="brightnessValue" id="brightnessValue"/>
      </label>
      <a href="#modal-close"><input type="submit" name="brightnessSubmit" value="Submit" class="submitButton"/></a>
      <a href="#modal-close"><input type="button" name="closeButton" value="Close" /></a>
    </form>
  </div>
</div>

<!-- Adjustment > Contrast -->

<!-- Adjustment > Transparency -->
<div class="modal" id="transparencyAdjust">
  <div class="modal-container">
    <form name="transparencyForm" id="transparencyForm">
      <label for="transparencyInput">
        Transparency: <input type="range" min="0" value="0" max="255" step="1" name="transparencyInput" id="transparencyInput"/>
      </label>
      <label for="transparencyValue">
        <input type="number" size="3" width="3" value="0" name="transparencyValue" id="transparencyValue"/>
      </label>
      <a href="#modal-close"><input type="submit" name="transparencySubmit" value="Submit" class="submitButton"/></a>
      <a href="#modal-close"><input type="button" name="closeButton" value="Close" /></a>
    </form>
  </div>
</div>


<!-- Adjustment > Saturation -->

<!-- Adjustment > Color Balance -->
<div class="modal" id="colorBalance">
  <div class="modal-container">
    <form name="colorBalanceForm" id="colorBalanceForm">
      <label for="colorBalanceRedInput">
        Red: <input type="range" min="-255" value="0" max="255" step="1" name="colorBalanceRedInput" id="colorBalanceRedInput"/>
      </label>
      <label for="colorBalanceRedValue">
        <input type="number" size="3" width="3" value="0" name="colorBalanceRedValue" id="colorBalanceRedValue"/>
      </label>
      <br>
      <label for="colorBalanceGreenInput">
        Green: <input type="range" min="-255" value="0" max="255" step="1" name="colorBalanceGreenInput" id="colorBalanceGreenInput"/>
      </label>
      <label for="colorBalanceGreenValue">
        <input type="number" size="3" width="3" value="0" name="colorBalanceGreenValue" id="colorBalanceGreenValue"/>
      </label>
      <br>
      <label for="colorBalanceBlueInput">
        Green: <input type="range" min="-255" value="0" max="255" step="1" name="colorBalanceBlueInput" id="colorBalanceBlueInput"/>
      </label>
      <label for="colorBalanceBlueValue">
        <input type="number" size="3" width="3" value="0" name="colorBalanceBlueValue" id="colorBalanceBlueValue"/>
      </label>
      <br>
      <a href="#modal-close"><input type="submit" name="colorBalanceSubmit" value="Submit" class="submitButton"/></a>
      <a href="#modal-close"><input type="button" name="closeButton" value="Close" /></a>
    </form>
  </div>
</div>

<!-- Adjustment > Sepia -->
<div class="modal" id="sepiaImageAdjust">
  <div class="modal-container">
    <form name="sepiaForm" id="sepiaForm">
      <label for="sepiaInput">
        Sepia: <input type="range" min="0" value="0" max="100" step="1" name="sepiaInput" id="sepiaInput"/>
      </label>
      <label for="sepiaValue">
        <input type="number" size="3" width="3" min="0" value="0" max="100" name="sepiaValue" id="sepiaValue"/>
      </label>
      <a href="#modal-close"><input type="submit" name="sepiaSubmit" value="Submit" class="submitButton"/></a>
      <a href="#modal-close"><input type="button" name="closeButton" value="Close" /></a>
    </form>
  </div>
</div>
