<!-- Adjustment > Brightness -->
<div class="modal" id="brightnessAdjust">
  <div class="modal-container">
    <form name="brightnessForm" id="brightnessForm">
      <label for="brightnessInput">
        Block size: <input type="range" min="5" value="10" max="300" step="1" name="brightnessInput" id="brightnessInput"/>
      </label>
      <label for="brightnessValue">
        <input type="number" size="3" width="3" value="10" name="brightnessValue" id="brightnessValue"/>
      </label>
      <a href="#modal-close"><input type="submit" name="brightnessSubmit" value="Submit" class="submitButton"/></a>
      <a href="#modal-close"><input type="button" name="closeButton" value="Close" /></a>
    </form>
  </div>
</div>
