<header>
  <nav>
    <ul id="mainMenu" class="menuHorizontal">
      <li id="fileMenu"><a href="#">File</a></li>
      <li id="editMenu"><a href="#">Edit</a></li>
      <li id="imageMenu"><a href="#">Image</a></li>
      <li id="layerMenu"><a href="#">Layer</a></li>
      <li id="adjustmentMenu"><a href="#">Adjustment</a></li>
      <li id="filterMenu"><a href="#">Filter</a></li>
      <li id="viewMenu"><a href="#">View</a></li>
      <li id="helpMenu"><a href="#">Help</a></li>
    </ul>

    <ul id="fileSubMenu" class="menuVertical">
      <li><a href="#newImage">New Image</a></li>
      <li><a href="#openImage">Open image</a></li>
      <li><a href="#">Open image URL</a></li>
      <li><a href="#">Open image library</a></li>
      <li><hr></li>
      <li><a href="#saveImage"  download="untitled">Save</a></li>
      <li><a href="#saveMe" id="saveImage">Save image</a></li> <!---->
      <li><a href="#">Print</a></li>
      <li><a href="#">Close</a></li>
      <li><hr></li>
      <li><a href="#">Logout</a></li>
      <li><hr></li>
      <li><a href="#">Exit</a></li>
    </ul>

    <ul id="editSubMenu" class="menuVertical">
      <li><a href="#">Undo</a></li>
      <li><a href="#">Redo</a></li>
      <li><hr></li>
      <li><a href="#">Cut</a></li>
      <li><a href="#">Copy</a></li>
      <li><a href="#">Clear</a></li>
      <li><a href="#">Paste</a></li>
      <li><hr></li>
      <li><a href="#">Free transform</a></li>
      <li><a href="#">Free distort</a></li>
      <li><hr></li>
      <li><a href="#">Select all</a></li>
      <li><a href="#">Deselect all</a></li>
      <li><a href="#">Invert selection</a></li>
      <li><a href="#">Select pixels</a></li>
      <li><hr></li>
      <li><a href="#">Define brush</a></li>
    </ul>

    <ul id="imageSubMenu" class="menuVertical">
      <li><a href="#">Image size</a></li>
      <li><a href="#">Canvas size</a></li>
      <li><hr></li>
      <li><a href="#">Rotate canvas 180&deg;</a></li>
      <li><a href="#">Rotate canvas 90&deg; CW</a></li>
      <li><a href="#">Rotate canvas 90&deg; CCW</a></li>
      <li><hr></li>
      <li><a href="#">Flip canvas vertical</a></li>
      <li><a href="#">Flip canvas horizontal</a></li>
      <li><hr></li>
      <li><a href="#">Crop</a></li>
    </ul>

    <ul id="layerSubMenu" class="menuVertical">
      <li><a href="#">New layer</a></li>
      <li><a href="#">Duplicate layer</a></li>
      <li><a href="#">Delete layer</a></li>
      <li><hr></li>
      <li><a href="#">Open image as layer</a></li>
      <li><a href="#">Open image URL as layer</a></li>
      <li><a href="#">Open from library as layer</a></li>
      <li><hr></li>
      <li><a href="#">Merge down</a></li>
      <li><a href="#">Merge visible</a></li>
      <li><a href="#">Flatten image</a></li>
      <li><hr></li>
      <li><a href="#">Move layer up</a></li>
      <li><a href="#">Move layer down</a></li>
      <li><hr></li>
      <li><a href="#">Layer styles</a></li>
      <li><a href="#">Rasterize layer</a></li>
      <li><hr></li>
      <li><a href="#">Add layer mask</a></li>
      <li><a href="#">Delete layer mask</a></li>
      <li><a href="#">Apply layer mask</a></li>
      <li><hr></li>
      <li><a href="#">Rotate layer 180&deg;</a></li>
      <li><a href="#">Rotate layer 90&deg; CW</a></li>
      <li><a href="#">Rotate layer 90&deg; CCW</a></li>
      <li><hr></li>
      <li><a href="#">Flip layer vertical</a></li>
      <li><a href="#">Flip layer horizontal</a></li>
    </ul>

    <ul id="adjustmentSubMenu" class="menuVertical">
      <li><a href="#">Brightness &amp; Contrast</a></li>
      <li><a href="#">Hue &amp; Saturation</a></li>
      <li><a href="#">Color balance</a></li>
      <li><a href="#">Color vibrance</a></li>
      <li><a href="#">Levels</a></li>
      <li><a href="#">Curves</a></li>
      <li><a href="#">Exposure</a></li>
      <li><hr></li>
      <li><a href="#">Auto levels</a></li>
      <li><hr></li>
      <li><a href="#">Invert</a></li>
      <li><a href="#">Sepia</a></li>
      <li><a href="#">Solarize</a></li>
      <li><a href="#">Desaturate</a></li>
      <li><a href="#">Old photo</a></li>
      <li><a href="#">Cross process</a></li>
      <li><a href="#">Threshold</a></li>
      <li><a href="#">Posterize</a></li>
      <li><a href="#">Color lookup</a></li>
    </ul>

    <ul id="filterSubMenu" class="menuVertical">
      <li><a href="#">Blur</a></li>
      <li><a href="#">Box blur</a></li>
      <li><a href="#">Gaussian blur</a></li>
      <li><a href="#">Sharpen</a></li>
      <li><a href="#">Unsharp mask</a></li>
      <li><a href="#">Denoise</a></li>
      <li><hr></li>
      <li><a href="#">Noise</a></li>
      <li><a href="#">Diffuse</a></li>
      <li><a href="#">Scanlines</a></li>
      <li><a href="#">Halftone</a></li>
      <li><a href="#">Pixelate</a></li>
      <li><a href="#">Pointinize</a></li>
      <li><a href="#">Water swirl</a></li>
      <li><a href="#">Polar coordinates</a></li>
      <li><a href="#">Kaleidoscope</a></li>
      <li><a href="#">Tilt shift</a></li>
      <li><hr></li>
      <li><a href="#">Vignette</a></li>
      <li><a href="#">Pastels</a></li>
      <li><a href="#">Glamour glow</a></li>
      <li><a href="#">Mimic HDR</a></li>
      <li><a href="#">Hope</a></li>
      <li><a href="#">Art poster</a></li>
      <li><a href="#">Heat map</a></li>
      <li><a href="#">Tri tone</a></li>
      <li><a href="#">Night vision</a></li>
      <li><hr></li>
      <li><a href="#">Emboss</a></li>
      <li><a href="#">Engrave</a></li>
      <li><a href="#">Fing edges</a></li>
    </ul>


    <ul id="viewSubMenu" class="menuVertical">
      <li><a href="#">Zoom in</a></li>
      <li><a href="#">Zoom out</a></li>
      <li><a href="#">Actual pixels</a></li>
      <li><a href="#">Show all</a></li>
      <li><hr></li>
      <li><a href="#">Navigator</a></li>
      <li><a href="#">Layers</a></li>
      <li><a href="#">History</a></li>
      <li><a href="#">Tool options</a></li>
      <li><hr></li>
      <li><a href="#">Fullscreen mode</a></li>
      <li><a href="#">Reset pallete location</a></li>
    </ul>

    <ul id="helpSubMenu" class="menuVertical">
      <li><a href="#">Help</a></li>
      <li><hr></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
