body{
    background-color: #000000;
}
canvas{
   background-color: #000000;
   height: 75vh;
   width: 75vw
   solid 10px green;
   /*position: absolute;*/
   left: 50%;
   top: 50%;
   background-color: white;
   /*z-index: 100*/
}
#text{
    color: white;
}
#dl-original{
    color: white;
}
#canvasDiv{
   left: 50%;
   top: 50%;
   background-color: white;
   position: relative;
}
#a{
   /* a is canvas element*/
   /*left: 50%;
   top: 50%;*/
   margin: auto;
}
