
  {{>navbar}}



  <h1>Height: {{canvasDimensions.height}}</h1>
  <h1>Width: {{canvasDimensions.width}}</h1>

  {{>canvas}}
  {{>modals}}

  <script type="text/javascript" src="/js_files/canvas_script.js"></script>
  <script type="text/javascript" src="/js_files/menubar_script.js"></script>
