
  {{>modals-file}}
  {{>modals-adjustment}}
  {{>modals-filter}}
  {{>modals-fractals}}
  {{>navbar}}
  {{>fractals}}




  <!-- <h1>Height: {{canvasDimensions.height}}</h1>
  <h1>Width: {{canvasDimensions.width}}</h1> -->

  {{>canvas}}


  <script type="text/javascript" src="/js_files/menubar_script.js"></script>
  <!-- File -->
  <script type="text/javascript" src="/js_files/canvas_script.js"></script>
  <!-- <script type="text/javascript" src="/js_files/file/new_image.js"></script>
  <script type="text/javascript" src="/js_files/open_image.js"></script>
  <script type="text/javascript" src="/js_files/open_image_url.js"></script>
  <script type="text/javascript" src="/js_files/save_image.js"></script> -->
  <!-- Adjustment -->
  <script type="text/javascript" src="/js_files/adjustment/brightness.js"></script>
  <script type="text/javascript" src="/js_files/adjustment/color_balance.js"></script>
  <script type="text/javascript" src="/js_files/adjustment/contrast.js"></script>
  <script type="text/javascript" src="/js_files/adjustment/grayscale.js"></script>
  <script type="text/javascript" src="/js_files/adjustment/invert.js"></script>
  <script type="text/javascript" src="/js_files/adjustment/sepia.js"></script>
  <script type="text/javascript" src="/js_files/adjustment/transparency.js"></script>
  <!-- Filter -->
  <script type="text/javascript" src="/js_files/filter/blur.js"></script>
  <script type="text/javascript" src="/js_files/filter/edge_detection.js"></script>
  <script type="text/javascript" src="/js_files/filter/pixelate.js"></script>
  <!-- Fractals -->
  <!-- <script type="text/javascript" src="/js_files/fractals/fractals_dragon_script.js"></script> -->
  <!-- <script type="text/javascript" src="/js_files/fractals/dragon_script.js"></script> -->
  <!-- <script type="text/javascript" src="/js_files/fractals/julia_script.js"></script> -->
  <!-- <script type="text/javascript" src="/js_files/fractals/svg2canvas_script.js"></script> -->

<!-- Fractals -->
  <script type="text/javascript" src="/js_files/fractals/fractals_dragon_script.js"></script>
  <script type="text/javascript" src="/js_files/fractals/julia_script.js"></script>
  <script type="text/javascript" src="/js_files/fractals/dragon_script.js"></script>
  <script type="text/javascript" src="/js_files/fractals/svg2canvas_script.js"></script>
