
  {{>modals-file}}
  {{>modals-adjustment}}
  {{>modals-filter}}
  {{>modals-fractals}}
  {{>navbar}}
  {{>fractals}}




  <!-- <h1>Height: {{canvasDimensions.height}}</h1>
  <h1>Width: {{canvasDimensions.width}}</h1> -->

  {{>canvas}}


  <script type="text/javascript" src="/js_files/menubar_script.js"></script>
<!-- File -->
  <script type="text/javascript" src="/js_files/canvas_script.js"></script>
<!-- Adjustment -->
  <script type="text/javascript" src="/js_files/adjustment/invert.js"></script>

  <script type="text/javascript" src="/js_files/fractals/fractals_dragon_script.js"></script>
  <script type="text/javascript" src="/js_files/fractals/dragon_script.js"></script>
  <script type="text/javascript" src="/js_files/fractals/julia_script.js"></script>
  <script type="text/javascript" src="/js_files/fractals/svg2canvas_script.js"></script>
