
svg#svgid {
 height: 800px; width: 800px;
}
svg path.dragon {
 /*stroke: undefined;*/
 stroke-width: 5
}
/*#main{
    float: left;
}*/

/*svg{
    background-color: #000000
}*/
/*body{
    background-color: #000000
}*/
/*#main{
    color: #FFFFFF;
}*/

svg {
  z-index: 1;
}
